<p id="notice"><%= notice %></p>

<p>
  <strong>subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @message.created_at %>
</p>
<p>
  <strong>Author:</strong>
  <%= @message.author %>
</p>

<% if current_user.behalf_of == @message.author %>
  <%= link_to 'Back', pairing_messages_path(@pairing) %>
<% end %>