<div class="row section">
  <div class="col s10 push-s1 m12">
    <p id="notice"><%= notice %></p>

    <h3><%= @message.subject %></h3>

    <div class="section">
      <div class="card-panel ">
        <span><%= @message.body %></span>
      </div>
    </div>


    <div class="message-details">
      <div class="chip">
        <%= @message.created_at.strftime("%m/%d/%Y, %I:%M%p") %>
      </div>
      <div class="chip">
        by <%= @message.author.name %>
      </div>
    </div>


    <% if current_user.behalf_of == @message.author %>
      <%= link_to 'Back', pairing_messages_path(@pairing) %>
    <% end %>
  </div>
</div>
