<p id="notice"><%= notice %></p>

<h3>
  <%= @message.subject %>
</h3>

<br>
  
<p>
  <%= @message.body %>
</p>

<br>

<div class="message-details">
  <p>
    <%= @message.created_at.strftime("%m/%d/%Y, %I:%M%p") %>
  </p>
  <p>by <%= @message.author.name %></p>
</div>

<br>

<% if current_user.behalf_of == @message.author %>
  <%= link_to 'Back', pairing_messages_path(@pairing) %>
<% end %>