<div class='pet-info'>
  <%= image_tag @pet.avatar.url(:medium) %>
  <h1>Name: <%= @pet.name %></h1>
  <h2>Species: <%= @pet.species %></h2>
  <h2>Breed: <%= @pet.breed %></h2>
  <h3>Weight: <%= @pet.weight %> lbs.</h3>
  <p>
    <%= @pet.description %>
  </p>
</div>
