<h2><%= @user.full_name %></h2>

<% if logged_in? && authorized? %>
  <span><%= link_to 'Inbox', user_messages_path(current_user) %></span>
<% end %>

<p class="user-rating"><%= @user.user_rating %></p>


<div class="pet-list">
  <ul class="collapsible" data-collapsible="accordion">
    <% @pets.each do |pet| %>
    <% @pet = pet %>
    <%= render 'ratings/review_form' %>
    <li>
      <div class="collapsible-header clear">
        <h3 class="left">
          <%= link_to pet.name, user_pet_path(@user, pet), class: "pet-header" %>
          <div class="rating right">
        <span><%= pet.average_rating %></span>
      </div>
        </h3>
          <%= image_tag pet.avatar.url(:thumb), class: "right" %>
        </div>

        <div class="collapsible-body">
          <p class="pet-detail">
            <%= pet.species %>
          </p>
          <p class="pet-detail">
            <%= pet.breed %>
          </p>
          <p class="pet-detail">
            <%= pet.description %>
          </p>
          <a id="<%= pet.id %>" class="pet-review-button waves-effect waves-light btn modal-trigger" href="#modal1">Review</a>
        </div>
      </li>
    <% end %>
  </ul>

  <% if authorized? %>
  <%= link_to 'add a pet', new_user_pet_path(@user) %>
  <%= link_to 'add an event', new_user_event_path(@user) %>
  <% end %>
</div>

<div>
  <!-- new_event link -->
</div>

<% if logged_in? && authorized?%>

  <div class="user-confirmed-events">
    <p>confirmed events</p>
    <% if @user.confirmed_events %>
      <ul>
        <% @user.confirmed_events.each do |event| %>
          <li><%= event.start_time %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="user-offered-events">
    <p>requested events</p>
      <% if @user.requested_events %>
        <ul>
        <% @user.requested_events.each do |event| %>
          <li><%= link_to "#{event.start_time}", user_event_path(@user, event)%></li>
        <% end %>
        </ul>
      <% end %>
  </div>

  <div class="user-offered-events">
    <p>offered events</p>
      <% if @user.offered_events %>
        <ul>
        <% @user.offered_events.each do |event| %>
          <li><%= event.start_time %></li>
        <% end %>
        </ul>
      <% end %>
  </div>

  <div class= "add-hospital">
    <%= form_tag(organizations_path , :method => "post", class: "add-hospital-form", id: "search-bar") do %>
      <%= text_field_tag :name%>
      <!-- <%= submit_tag "Search", id: "submit_button" %> -->
    <% end %>
  </div>

  <div id="search_results">
  </div>

  <div class="user-parings">
    <div class="approved-pairings">
      <h5>approved hospitals</h5>
      <% if @user.try(:pairings).length > 0 &&  @user.approved_pairings.length > 0%>
        <ul>
          <% @user.approved_organizations.each do |org| %>
            <li> <%= org.name %> </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="pending-pairings">
      <h5>pending hospitals</h5>

      <% if @user.try(:pairings).length > 0 && @user.pending_organizations.length > 0 %>
        <ul>
          <% @user.pending_organizations.each do |org| %>
            <li> <%= org.name %> </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
