<h2><%= @user.full_name %></h2>
<div class="user-info">
 <%= current_user.first_name %>
</div>
<div class="pet-list">
  <ul class="collapsible" data-collapsible="accordion">
    <% @pets.each do |pet| %>
    <li>
      <div class="collapsible-header clear">
        <h3 class="left">
          <%= link_to pet.name, user_pet_path(@user, pet), class: "pet-header" %>
        </h3>
          <%= image_tag pet.avatar.url(:thumb), class: "right" %>

      </div>
      <div class="collapsible-body">
        <p class="pet-detail">
          <%= pet.species %>
        </p>
        <p class="pet-detail">
          <%= pet.breed %>
        </p>
        <p class="pet-detail">
          <%= pet.description %>
        </p>
      </div>
    </li>
    <% end %>
  </ul>
  <%= link_to 'add a pet', new_user_pet_path(@user) %>
</div>
