<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date.strftime("%D") %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime("%r") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.strftime("%r") %>
</p>

<%= link_to 'Edit', edit_user_event_path(@user, @event) %> |
<%= link_to 'Back', user_events_path(@user) %>