<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date.to_s %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.start_time.to_s %>
</p>

<p>
  <strong>Published:</strong>
  <%= @event.end_time.to_s %>
</p>

<%= link_to 'Edit', edit_user_event_path(@user, event) %> |
<%= link_to 'Back', user_events_path(@user) %>