<div class="container">
  <div class="organization-info">
    <h1><%= @organization.name %></h1>
    <!-- Organization photo? -->
  </div>

    <span><%= link_to 'Inbox', organization_messages_path(@organization) %></span>

    <div class="pet-owner-list">
      <% if @organization.try(:approved_pairings).try(:length) > 0 %>
        <h3>approved pet owners</h3>
        <ul class="pet-owners-approved">
          <% @organization.approved_pairings.each do |approved_pairing| %>
            <li><%= approved_pairing.pet_owner.full_name %></li>
          <% end %>
        </ul>
      <% end %>

      <ul class="pet-owners-pending">
        <% if @organization.try(:pending_pairings).try(:length) > 0 %>
          <h3>pending pet owners</h3>
          <% @organization.pending_pairings.each do |pending_pairing| %>
            <li><%= pending_pairing.pet_owner.full_name %>
            <button id='approve_pet_owner' onclick="location.href='/organizations/<%= @organization.id %>/pairings/<%= pending_pairing.id %>/edit';">Approve Owner</button></li>
            <button id='reject_pet_owner' onclick="location.href='/organizations/<%= @organization.id %>/pairings/<%= pending_pairing.id %>/edit';">Approve Owner</button></li>

          <% end %>
        <% end %>
      </ul>
    </div>

  <!-- Partial these similar event lists if time allows: -->
    <div class="event-list">
      <div class="scheduled events">
        <% if @organization.try(:scheduled_events).try(:length) > 0 %>
          <h3>scheduled</h3>
          <table>
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Pet owner</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% if @organization.try(:scheduled_events)%>

                <% @organization.scheduled_events.each do |scheduled_events| %>
                  <tr>
                    <td><%= scheduled_events.date.to_s %></td>
                    <td><%= scheduled_events.start_time.to_s %> - <%= scheduled_events.end_time.to_s %></td>
                    <td><%= scheduled_events.pet_owner.full_name %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

      <div class="requested-events">
        <% if @organization.try(:requested_events).try(:length) > 0 %>
          <h3>requested</h3>
          <table>
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Pet owner</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @organization.requested_events.each do |requested_event| %>
                <tr>
                  <td><%= requested_event.date.to_s %></td>
                  <td><%= requested_event.start_time.to_s %> - <%= requested_event.end_time.to_s %></td>
                  <td><%= requested_event.pet_owner.full_name %></td>
                  <td><%= link_to 'Show', user_event_path(requested_event.pet_owner.id, requested_event) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

      <% if @organization.all_available_events.length > 0 %>
        <h3>available events</h3>
      <% end %>

      <div class="approved-events">
        <% if @organization.try(:approved_events).try(:length) > 0 %>
          <h3>from approved pet-owners</h3>
          <table>
            <thead>
              <tr>
                <th>Day</th>
                <th>Time available</th>
                <th>Pet owner</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @organization.approved_events.each do |approved_event| %>
                <tr>
                  <td><%= approved_event.date.to_s %></td>
                  <td><%= approved_event.start_time.to_s %> - <%= approved_event.end_time.to_s %></td>
                  <td><%= approved_event.pet_owner.full_name %></td>
                  <td><%= link_to 'Show', user_event_path(approved_event.pet_owner.id, approved_event) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

      <div class="pending-events">
        <% if @organization.try(:pending_events).try(:length) > 0 %>
          <h3>from pet-owners pending approval</h3>
          <table>
            <thead>
              <tr>
                <th>Day</th>
                <th>Time available</th>
                <th>Pet owner</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @organization.pending_events.each do |pending_event| %>
                <tr>
                  <td><%= pending_event.date.to_s %></td>
                  <td><%= pending_event.start_time.to_s %> - <%= pending_event.end_time %></td>
                  <td><%= pending_event.pet_owner.full_name.to_s %></td>
                  <td><%= link_to 'Show', user_event_path(pending_event.pet_owner.id, pending_event) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>

</div>
