<!DOCTYPE html>
<html>
<head>
  <title>T</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container flow-text">

    <nav class="header">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
         <% if logged_in? %>
           <li><a class='index_login' href="/users/<%= current_user.id %>">Hello: <%= current_user.email %></a></li>
           <li><a class='index_login' href="/logout">Logout</a></li>
         <% else %>
           <li><a class='index_login' href="/users/new">Register</a></li>
           <li><a class='index_login' href="/login">Login</a></li>
         <% end %>
        </ul>
      </div>
    </nav>

<%= yield %>

  </div>

</body>
</html>
